<div class = "session">
  <h2 class="log-in">新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "新規登録", class: "login-btn" %>
    </div>
  <% end %>

  <%= link_to "ホーム", root_path, class: "home"%>
  <%= link_to 'Facebookで登録', user_facebook_omniauth_authorize_path, method: :post %>
  <%= link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, method: :post %>%

  <%= render "devise/shared/links" %>
</div>