.detail-main
  .contents
    .contents__title
      = @place.name
    = image_tag @place.image.url, alt: "場所写真", class: "contents__image"
    .contents__explain
      = @place.content
    .contents__info
      基本情報
    .contents__URL
      URL : #{@place.webpage}
    = link_to place_events_path(@place.id), class: "contents__event" do
      ガイド予約
    .contents__comment
      .items
        .title
          コメント
        = link_to new_place_comment_path(@place.id), class: "edit-btn" do
          コメントをする
      .messages
        - if @comments.exists?
          - @comments.each do |comment|
            .message
              .message__user-name
                = comment.user.name
              .message__content
                = comment.text
        - else
          .message
            現在投稿されているコメントはありません