.detail-main
  .contents
    .contents__title
      = @place.name
    = image_tag "/#{@place.image}", alt: "場所写真", class: "contents__image"
    .contents__explain
      = @place.content
    .contents__info
      基本情報
    .contents__URL
      URL : #{@place.webpage}
    .contents__comment
      .items
        .title
          コメント
        = link_to "#", class: "edit-btn" do
          コメントをする
      .messages
        .message
          .message__user-name
            yuki
          .message__content
            津波の記憶がダイレクトに伝わってくるようで、とても有意義な場所でした。ぜひ行ってみて欲しいです。