.main
  .index-area
    .index-area__title
      一覧
    .index-area__contents
      .content
        %img.content__image{src: "top-page.png", alt: "遺産画像"}
        = link_to "#", class:"content__name" do
          奇跡の一本松
      .content
        %img.content__image{src: "top-page.png", alt: "遺産画像"}
        = link_to "#", class:"content__name" do
          奇跡の一本松
      .content
        %img.content__image{src: "top-page.png", alt: "遺産画像"}
        = link_to "#", class:"content__name" do
          奇跡の一本松
      .content
        %img.content__image{src: "top-page.png", alt: "遺産画像"}
        = link_to "#", class:"content__name" do
          奇跡の一本松
      .content
        %img.content__image{src: "top-page.png", alt: "遺産画像"}
        = link_to "#", class:"content__name" do
          奇跡の一本松
      .content
        %img.content__image{src: "top-page.png", alt: "遺産画像"}
        = link_to "#", class:"content__name" do
          奇跡の一本松